/* Centralização do formulário na tela */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* fundo preto */
}

.container {
    background-color: #800080; /* fundo roxo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    color: white;
    text-align: center;
}

.input-container {
    margin-bottom: 15px;
    
}

label {
    color: white;
    font-weight: bold;
    display: block;
}

input {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 14px;
    margin-left: 20px;
}


button {
    width: 60%;
    padding: 10px;
    background-color: #ffffff;
    color: #800080;
    margin-left: 60px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #012901;
    color: white;
}
